*.o
.cproject
.project
src/Makefile.dep
src/redis-benchmark
src/redis-check-aof
src/redis-check-rdb
src/redis-cli
src/redis-sentinel
src/redis-server
deps/.make-cflags
deps/.make-ldflags
deps/.make-prerequisites
deps/lua/src/liblua.a
deps/lua/src/lua
deps/lua/src/luac
src/.make-prerequisites
src/.make-settings
*.rdb
